<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
  <link rel="stylesheet" href="./css/custom.css">
</head>

<body>
  <div id="app">
    <section class="section">

      <div class="container mt-1">
        <!-- Start - Header Container -->
        <div class="header-container">

          <div class="is-fluid mb-5">
            <h1 class="title">
              Course List
            </h1>
            <p class="pt-2 subtitle">
              All of the <strong>Lessons</strong> available this year.
            </p>
          </div>


          <div class="cart">
            <!-- Start - Cart Button -->
            <div v-on:click="navigateToCart()" v-if="cart.length !== 0" class="cart-count">
              <div>
                <i class="fas fa-2x fa-shopping-cart"></i>
              </div>
              <div style="padding-left: 10px;">
                <p>{{cart.length}}</p>
              </div>
            </div>
            <!-- End - Cart Button -->

          </div>
        </div>
        <!-- End - Header Container -->

        <div class="select-container">
          <!-- Start - Select Container -->
          <div class="mb-5 select-container_cus1">
            <div class="select">
              <select v-model='selected'>
                <option v-for="item in values">
                  {{item}}
                </option>
              </select>
            </div>

          </div>
          <!-- End - Select Container -->

          <!-- Start - Sort -->
          <div class="mb-5 select-container_cus2">
            <div class="control">
              <input v-model='order' value="Ascending" type="radio" id="asc">
              <label for='asc'>Ascending</label>

              <input v-model='order' value="Descending" type="radio" id="desc">
              <label for='desc'>Descending</label>
            </div>
          </div>
          <!-- End - Sort -->

        </div>

        <div class="search-box-container">
          <input v-model="search" class="input is-medium" type="text" placeholder="Try 'Math'">
        </div>

        <!-- Start - Card Container -->
        <div class="card-container">
          <div v-for="lesson in sortLessons" v-bind:key="lesson.id" class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img alt="Placeholder image" v-bind:src="lesson.url">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <figure class="image is-48x48">
                    <i class="fas fa-2x fa-quidditch"></i>
                  </figure>
                  <p class="title is-4">Subject: {{ lesson.subject }}</p>
                  <p class="subtitle pt-5">Location: {{lesson.location}}</p>
                  <p class="subtitle pt-5">Price: {{lesson.price}}</p>
                  <p class="subtitle pt-5">Spaces: {{lesson.availibility}}</p>
                </div>
              </div>
              <div class="content">
                <button :disabled="lesson.isSoldOut" v-on:click="addToCart(lesson.id)" class="button is-info">Add to
                  Cart</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End - Card Container -->

      </div>
    </section>

    <!-- Begin Modal -->
    <div class="modal" v-bind:class="isCartOpen ? 'is-active' : ''">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Shopping Cart</p>
          <button v-on:click="navigateToCart()" class="delete" aria-label="close"></button>
        </header>

        <section class="modal-card-body">

          <!-- Start - Checkout Items -->
          <div class="container">
            <form @submit="submitForm">

              <!-- Start - Notifications -->
              <div v-bind:class="isSuccessOrder ? '' : 'is-show'" class="notification is-primary">
                <button v-on:click="reload()" class="delete"></button>
                <h1 class="title">
                  Success!
                </h1>
                <p>Your order has been placed</p>
              </div>
              <!-- End - Notifications -->

              <div class="field-header">
                <h5 class="title is-5 py-4">Your info</h5>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input v-model="formState.nameItem" class="input" type="text" placeholder="Name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
                <!-- <p v-if="formState.textValue && formState.nameItem.length > 0 && formState.numValue > 0" style="color: red;" class="pt-3"
                  id="checkTextValue">Only enter text!</p> -->
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input v-model="formState.phoneItem" class="input" type="number" placeholder="Phone">
                  <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                  </span>
                </p>
              </div>
              <button :disabled="this.formState.valid" class="button py-4 is-info">
                Checkout
              </button>
            </form>
          </div>
          <!-- End - Checkout Items -->

          <!-- Start - Cart items -->
          <div class="container my-5">
            <div v-for="cartItems in cart" v-bind:key="cartItems.id" class="main-cart-container">
              <div class="box-left">
                <div class="main-cart-container_image">
                  <figure class="image is-128x128">
                    <img v-bind:src="cartItems.url">
                  </figure>
                </div>
                <div class="main-cart-container_item">
                  <h5 class="title is-5">Subject: {{cartItems.subject}}</h5>
                  <h6 class="">Price: {{cartItems.price}}</h6>
                  <h6 class="">Spaces: {{cartItems.availibility}}</h6>
                  <h6 class="">Location: {{cartItems.location}}</h6>
                </div>
              </div>

              <div v-on:click="removeFromCart(cartItems.id)" class="box-right">
                <i style="cursor: pointer;" class="fas fa-2x fa-trash"></i>
              </div>
            </div>
          </div>
          <!-- End - Cart items -->


        </section>
        <footer class="modal-card-foot">
          <button v-on:click="navigateToCart()" class="button is-dark">Close</button>
        </footer>
      </div>
    </div>

  </div>

  <!-- Vue js unpack -->
  <script src="https://unpkg.com/vue"></script>

  <!-- Internal Files -->
  <script src="./js/data.js" type="module"></script>
  <script src="./js/app.js" type="module"></script>

  <script type="module">
    import lessonsApp from './js/app.js'
    new Vue(lessonsApp)
  </script>

</body>

</html>